.unfilled {
  animation: alert 0.75s ease-in-out infinite;
}
#billInventory {
  max-width: 960px;
  padding: 20px;
  margin: auto;
}
#billInventory h2{
  font-size: 40px;
}
#billForm__type {
  transition: 0.15s;
  &:hover {
    background: var(--lightGray);
  }
}
.billForm__wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.callToAction {
  padding: 5px;
  height: 40px;
  color: var(--white);
  background: var(--gray);
  border: 1px solid var(--white);
  transition: 0.15s;
  &:hover {
    cursor: pointer;
    color: var(--gray);
    background: var(--white);
    border: 1px solid var(--gray);
  }
}