#billSummation {
    h4{
        font-size: 20px;
        padding: 10px 0;
        border-bottom: 3px solid var(--lightGray);
        color: var(--gray);
    }
    span { 
        float: right;
    }
}